body
{
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
	font-size: 100%;
	background: #333;
	background-image:url(pattern.jpg);
}
input {
    width: 100%;
}

/* Result Table */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	background-color: #EEE;
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableBody {
	display: table-row-group;
}
